body{
    background-color: black
}

h1 {
    color: white;
    margin-top: 25px;
    background-color:darkorchid;
    height: 50px;
    width: 600px;
}

h3 {
    color: rgb(15, 7, 7);
    background-color:greenyellow
    
}

#result
{
    color: white;
    
    padding: 5px;
}

h4{
    color: white;
}
#final
{
    color: black;
    background-color: bisque;
    font-size: 50px;
    text-align: left;
    width:600px;
    height:300px;
    padding: 5px;
}